body {
    width: 1100px;
    margin: auto;
  }
  
header {
    height: 90px;
    background-color: gray;
    display: grid;
    grid-template-columns: 80px auto ;
    align-items: center;
  }
  header img{
    padding-left: 70px; 
  }
  header nav {
    display: grid;
    grid-template-columns: 300px 150px 150px 150px ;
    text-align: right;
    
  }
  header nav a {
    padding: 20px ;
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: rgb(10, 10, 10);
  }
  main img {
      padding-left: 70px;
      padding-top: 20px;
  }
  section{
    padding-left: 70px;
    padding-top: 20px;
    display: grid;
  grid-template-columns: 330px 330px 33px;
  }
  article{
      padding-right:70px;
    padding-left: 70px;
    padding-top: 20px;
    display: grid; 
    grid-template-columns:auto auto;
    gap : 20px 
  }
  article div p:nth-child(1){
   
    height: 250px;
    overflow: scroll;
  }
  article div p:nth-child(2){
    padding-top: 40px;
    padding-left:40px;
    transition: all 1s;
   margin-left: 90px;
    max-width:220px;
    min-height: 70px;
    font-size: 30px;
    text-align: center
    
  }
  article div p:nth-child(2):hover{
    background-color: #141E61;
    color : #BF1363
}

  /* div p {
    transition: all 500ms;  
  }
  
  div p:hover{
    background-color: red; */
  
    footer{
        background-color: gray;
        height: 90px;  
    }